@model IEnumerable<CursoSwitcher.Models.RequestsModel>


@{
    var TITLE = "Solicitudes";
    ViewData["Title"] = TITLE;
}

<h1>@TITLE</h1>


<!--If model is not empty -->
@if (Model.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferedCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedCourse.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferedCourse.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Cancelar</a>
            </td>
        </tr>
}
    </tbody>
</table>
    
} else
{
    <p>No tenes nada amiguito.</p>
    <p>
        <a asp-action="Create">Realizar una solicitud de cambio</a>
    </p>
}

