@model IEnumerable<CursoSwitcher.Models.RequestsModel>


@{
    var TITLE = "Mis solicitudes";
    ViewData["Title"] = TITLE;
}

<h1 style="text-align:center">@TITLE</h1>
<hr />

<!--If model is not empty -->
@if (Model.Any()) {
    @foreach (var item in Model) {
    <div class="card text-center">
        
            <div class="card-header" style="bold">
                <strong>ID Público: @Html.DisplayFor(modelItem => item.Visible_id)</strong>
            </div>
            <div class="card-body">
                <h5 class="card-title">Hola, @Html.DisplayFor(modelItem => item.Profile.Name).</h5>
                <p class="card-text">
                    Tu solicitud creada en la fecha @Html.DisplayFor(modelItem => item.Created_at)
                    con el pedido de cambio de curso <strong>@Html.DisplayFor(modelItem => item.OfferedCourse.Name)</strong>
                    por el <strong>@Html.DisplayFor(modelItem => item.RequestedCourse.Name)</strong>
                    actualmente se encuentra en estado
                </p>
                <p style="text-transform:uppercase"><strong>@Html.DisplayFor(modelItem => item.status)</strong></p>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Cancelar</a>
            </div>
            <div class="card-footer text-muted">
                Última actualización: @Html.DisplayFor(modelItem => item.Updated_at)
            </div>
    </div>
    <br />
    }
    
} else
{
    <div class="card">
        <div class="card-body">
            <p style="text-align:center">No cuenta con ninguna solicitud en estos momentos. <br>
                <a asp-action="Create">Realizar una solicitud de cambio</a>
            </p>
        </div>
    </div>
    
}

