@model IEnumerable<CursoSwitcher.Models.RequestsModel>


@{
    var TITLE = "Mis solicitudes";
    ViewData["Title"] = TITLE;
}

<h1 style="text-align:center">@TITLE</h1>
<hr />

<!--If model is not empty -->
@if (Model.Any()) {
    @foreach (var item in Model) {
    
    <div class="card text-center">
            <div class="card-header" style="bold">
                <div style="float: left">
                     <h5 style="display:inline">Curso Origen: @Html.DisplayFor(modelItem => item.OfferedCourse.Name) | </h5>
                    <h5 style="display:inline">Curso Destino: @Html.DisplayFor(modelItem => item.RequestedCourse.Name) </h5>
                </div>

                @if (item.status.Equals("Aprobada")) {
                    <a class="btn btn-success" data-toggle="collapse" href="#@item.Id" role="button" aria-expanded="false" aria-controls="" style="float: right">Ver Detalles</a>
                } else if (item.status.Equals("Rechazada") || item.status.Equals("Error")) {
                    <a class="btn btn-danger" data-toggle="collapse" href="#@item.Id" role="button" aria-expanded="false" aria-controls=item.Id style="float: right">Ver Detalles</a>
                } else if (item.status.Equals("Cancelado")){
                    <a class="btn btn-secondary" data-toggle="collapse" href="#@item.Id" role="button" aria-expanded="false" aria-controls=item.Id style="float: right">Ver Detalles</a>
                } else
                {
                    <a class="btn btn btn-warning" data-toggle="collapse" href="#@item.Id" role="button" aria-expanded="false" aria-controls=item.Id style="float: right">Ver Detalles</a>              
                }                    
            </div>
            <div class="collapse multi-collapse" id="@item.Id">
            <div class="card-body">
                <strong>ID Público: @Html.DisplayFor(modelItem => item.Visible_id)</strong>
                <h5 class="card-title">Hola, @Html.DisplayFor(modelItem => item.Profile.Name).</h5>
                <p class="card-text">
                    Tu solicitud creada en la fecha @Html.DisplayFor(modelItem => item.Created_at)
                    con el pedido de cambio de curso <strong>@Html.DisplayFor(modelItem => item.OfferedCourse.Name)</strong>
                    por el <strong>@Html.DisplayFor(modelItem => item.RequestedCourse.Name)</strong><br>
                    Actualmente se encuentra en estado:
                </p>

                @if (item.status == "Aprobada") {
                    <p style="text-transform:uppercase; color:green"><strong>@Html.DisplayFor(modelItem => item.status)</strong></p>
                } else if (item.status.Equals("Rechazada") || item.status.Equals("Error")) {
                    <p style="text-transform:uppercase; color:red"><strong>@Html.DisplayFor(modelItem => item.status)</strong></p>
                } else if (item.status.Equals("Cancelado")){
                    <p style="text-transform:uppercase ; color:blue"><strong>@Html.DisplayFor(modelItem => item.status)</strong></p>
                } else
                {
                    <p style="text-transform:uppercase ; color:orange"><strong>@Html.DisplayFor(modelItem => item.status)</strong></p>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Cancelar</a>                    
                }
            </div>
            <div class="card-footer text-muted">
                Última actualización: @Html.DisplayFor(modelItem => item.Updated_at)
            </div>
            </div>
    </div>
    <br />
    }
    <div class="text-center mb-5">
         <a asp-action="Create" class="btn btn-primary">Realizar una solicitud de cambio</a>
    </div>
    


} else
{
    <div class="card">
        <div class="card-body">
            <p style="text-align:center">No cuenta con ninguna solicitud en estos momentos. <br>
                <a asp-action="Create">Realizar una solicitud de cambio</a>
            </p>
        </div>
    </div>
    
}